# Default ignored files
/shelf/
/workspace.xml/
/node_modules/
/.idea/
/.features-gen/
/cucumber-report/
/test-results/
/playwright-report/

# Playwright
node_modules/
/blob-report/
/playwright/.cache/
/playwright/.auth/
